<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>About Ninjas</h1>

    <p>A ninja (忍者), ninpō (忍法),[1] or shinobi (忍び, "to sneak") was a covert agent or mercenary in feudal Japan. The functions of the ninja included espionage, sabotage, infiltration, assassination and guerrilla warfare.[2] Their covert methods of waging
        irregular warfare were deemed dishonorable and beneath the samurai-caste, who observed strict rules about honor and combat. The shinobi proper, a specially trained group of spies and mercenaries, appeared in the 15th century during the Sengoku
        period,[4] but antecedents may have existed in the 14th century,[5] and possibly in the 12th century (Heian or early Kamakura era).</p>

</body>

</html>